[submodule "third_party/sexpr-wasm-prototype"]
	path = third_party/sexpr-wasm-prototype
	url = git@github.com:WebAssembly/sexpr-wasm-prototype.git
[submodule "third_party/wabt"]
	path = third_party/wabt
	url = https://github.com/WebAssembly/wabt.git
